html {
	margin-top:0 !important;
}

.mirror {
	visibility: visible;
	z-index: -100;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transform: translate3d(0px, 0px, 0px); height: 90px; width: 1905px;
}

.slider {
	transform: translate3d(0px, 0px, 0px);
	position: absolute;
	top: -590px;
	left: 0px;
	height: 1270px;
	width: 1905px;
	max-width: none;
}

section {
	display:block;
}

.sectionIntro {
	height:100vh;
	padding-top:70px;
	padding-bottom:0;
}

@media (min-width:768px) {
	.sectionIntroMain {
		height:calc(100vh - 70px * 2);
	}
}

.sectionIntroMid>.container,.sectionIntroMid>.container>.row {
	height:100%;
}

.alignCenter {
	-webkit-box-align:center!important;
	align-items:center!important;
}

.col {
	max-width:100%;
	flex-basis:0;
	-webkit-box-flex:1;
	flex-grow:1;
}

.sectionTitle {
	max-width:600px;
	margin-bottom:2.5rem;
}

.sectionTitle.text-center {
	margin-right:auto;
	margin-left:auto;
}

.sectionTitle+.sectionDescription {
	margin-top:-1.5rem;
}

.sectionDescription {
	max-width:600px;
	margin-bottom:2.5rem;
}

.sectionDescription.text-center {
	margin-right:auto;
	margin-left:auto;
}

.sectionIntroTitle {
	font-size:5rem;
	font-weight:700;
	color:#fff;
}

.sectionIntroDescription {
	margin-bottom:3rem;
}

.sectionIntroFooter {
	height:70px;
	margin-top:3rem;
}

.sectionIntroFooter>.container,.sectionIntroFooter>.container>.row {
	height:100%;
}

@media (min-width:768px) {
	.sectionIntroFooter {
		margin-top:0;
	}
}

.sectionIntroFooterSocial {
	padding-left:0;
	list-style-type:none;
}

@media (min-width:768px) {
	.sectionIntroFooterSocial {
		margin-bottom:0;
	}
}

.sectionIntroFooterSocial>li {
	display:inline-block;
}

.sectionIntroFooterSocial>li>a {
	transition:color .1s;
	color:hsla(0,0%,100%,.7);
}

.sectionIntroFooterSocial>li>a:active,.sectionIntroFooterSocial>li>a:active:focus,.sectionIntroFooterSocial>li>a:active:hover,.sectionIntroFooterSocial>li>a:focus,.sectionIntroFooterSocial>li>a:hover {
	color:#f5a637;
}

.sectionIntroFooterSocial>li+li {
	margin-left:2rem;
}

.sectionIntroFooterAddr {
	font-family:Playfair Display,serif;
	color:hsla(0,0%,100%,.7);
}

.sectionIntroFooterAddr>.fa {
	margin-right:1rem;
	color:#f5a637;
}

.fa {
	margin-right:1rem;
	color:#f5a637;
}

.textWhite {
	color:#fff!important;
}

@media (min-width:992px) {
	.textLgLeft {
		text-align:left!important;
	}
	.textLgRight {
		text-align:right!important;
	}
	.textLgCenter {
		text-align:center!important;
	}
}

@media (min-width:768px) {
	.colMd {
		max-width:100%;
		flex-basis:0;
		-webkit-box-flex:1;
		flex-grow:1;
	}
}