html {
	margin-top:0 !important;
}

body {
    font-family: Lato,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    text-align: left;
    color: #777;
    background-color: #fff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

.css-section, body {
	position: relative;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

dl, ol, ul {
    margin-top: 0;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

a, a:hover {
    color: #f5a637;
}

.btn-primary {
	background-color: transparent;
}

.css-section {
	display:block;
}

*, :after, :before {
  box-sizing: border-box;
}

@media (min-width: 768px) {
	.css_section {
	    padding: 6rem 0;
	}
}

.css_section[data-parallax=scroll] {
	background-color: transparent;
}

@media (min-width: 768px) {
	.sectionIntro {
		height:100vh;
		padding-top:70px;
		padding-bottom:0;
	}
}

.sectionIntro {
	color: #fff;
}

@media (min-width:768px) {
	.sectionIntroMid {
		height:calc(100vh - 70px * 2);
	}
}

.sectionIntroMid>.container,.sectionIntroMid>.container>.row {
	height:100%;
}

.alignCenter {
	-webkit-box-align:center!important;
	align-items:center!important;
}

.col {
	max-width:100%;
	flex-basis:0;
	-webkit-box-flex:1;
	flex-grow:1;
}

.sectionTitle {
	max-width:600px;
	margin-bottom:2.5rem;
}

.sectionTitle.text-center {
	margin-right:auto;
	margin-left:auto;
}

.sectionTitle+.sectionDescription {
	margin-top:-1.5rem;
}

.sectionDescription {
	max-width:600px;
	margin-bottom:2.5rem;
}

.sectionDescription.text-center {
	margin-right:auto;
	margin-left:auto;
}

.sectionIntroTitle {
	font-size:5rem;
	font-weight:700;
	color:hsla(0,0%,10%,.7);
}

.sectionIntroDescription {
	margin-bottom:3rem;
}

.sectionIntroFooter {
	height:70px;
	margin-top:3rem;
}

.sectionIntroFooter>.container,.sectionIntroFooter>.container>.row {
	height:100%;
}

@media (min-width:768px) {
	.sectionIntroFooter {
		margin-top:0;
	}
}

.sectionIntroFooterSocial {
	padding-left:0;
	list-style-type:none;
	margin-left:2rem;
}

@media (min-width:768px) {
	.sectionIntroFooterSocial {
		margin-bottom:0;
	}
}

.sectionIntroFooterSocial>li {
	display:inline-block;
}

.sectionIntroFooterSocial>li>a {
	transition:color .1s;
	color:hsla(0,0%,10%,.7);
}

.sectionIntroFooterSocial>li>a:active,.sectionIntroFooterSocial>li>a:active:focus,.sectionIntroFooterSocial>li>a:active:hover,.sectionIntroFooterSocial>li>a:focus,.sectionIntroFooterSocial>li>a:hover {
	color:#f5a637;
}

.sectionIntroFooterAddr {
	font-family:Playfair Display,serif;
}

.sectionIntroFooterAddr>.fa {
	margin-right:1rem;
	color:#f5a637;
}

.fa {
	margin-right:1rem;
	color:#f5a637;
}

.textWhite {
	color:#fff!important;
}

.textBlack {
	color:hsla(0,0%,10%,.7)!important;
}

@media (min-width:992px) {
	.textLgLeft {
		text-align:left!important;
	}
	.textLgRight {
		text-align:right!important;
	}
	.textLgCenter {
		text-align:center!important;
	}
}

@media (min-width:768px) {
	.colMd {
		max-width:100%;
		flex-basis:0;
		-webkit-box-flex:1;
		flex-grow:1;
	}
}

.alignSelfStart {
	align-self:flex-start!important;
}

.alignSelfCenter {
	align-self: center!important;
}

.alignSelfEnd {
	align-self: flex-end!important;
}

.imgFluid {
	max-width:100%;
	height:auto;
}

@media (min-width: 768px) {
	.sectionHardwareImg {
    padding: 0 20% 0 0;
	}
}

.sectionHardwareImg {
    position: relative;
    padding: 2rem 0;
}

.sectionNoPaddingBottom {
	padding-bottom: 0;
}

.imgFluid {
    max-width: 100%;
    height: auto;
}

.order1 {
	-webkit-box-ordinal-group:2;
	order:1;
}

.order2 {
	-webkit-box-ordinal-group:3;
	order:2;
}

.order3 {
	-webkit-box-ordinal-group:4;
	order:3;
}

.navbar-brand {
    font-family: Playfair Display,serif;
    font-size: 2rem;
    font-style: italic;
    transition: color .1s;
}

@media (min-width: 992px) {
	.navbar-brand {
	    margin-left: 1rem;
	}
}

.navbar:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: all .3s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: #fff;
}

.navbar {
    min-height: 70px;
}

.navbar-light {
    background-color: transparent;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:active, .navbar-light .navbar-brand:active:focus, .navbar-light .navbar-brand:active:hover, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f5a637;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f5a637;
}

.navbar-dark {
    background-color: transparent;
}

.navbar-dark:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.navbar-dark .navbar-brand {
    color: #151515;
}

.navbar-dark .navbar-toggler {
    color: #151515;
    border-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: #151515;
}

.sectionGray {
	background-color:#f0f0f0;
}

@media (min-width:768px) {
	.sectionQuoteRow [class*=col] {
		padding-right:.5rem;
		padding-left:.5rem;
	}
}

.sectionFeedback__carousel__item {
	width:100%;
}

.sectionFeedbackPhoto>img {
	max-width:50vw;
	margin-bottom:2rem;
	border-radius:50%!important;
}

@media (min-width:768px) {
	.sectionFeedbackPhoto>img {
		max-width:100%;
		margin-bottom:0;
	}
}

.sectionFeedbackQuote {
	position:relative;
	max-width:500px;
	margin-bottom:2rem;
}

@media (min-width:768px) {
	.sectionFeedbackQuote {
		margin-bottom:0;
	}
}

.borderBottom {
	border-bottom:1px solid #f0f0f0;
}

.flickity-prev-next-button {
    top: calc(50% - 1rem - 5px);
    display: block;
    width: 3rem;
    height: 3rem;
    opacity: .75;
    background-color: #fff;
}

.sectionFooter {
	background-color: #151515;
}

@media (min-width: 768px)
.sectionFooter [class*=col] {
    padding: 0 2rem;
}

@media (min-width: 768px)
.sectionFooterTitle {
    margin-top: 0;
}

.sectionFooterTitle {
    font-family: Lato,sans-serif;
    font-size: .75rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #f5a637;
}

.sectionFooterDesc {
    padding-left: 0;
    list-style-type: none;
}

.sectionFooterDesc>li>i {
    position: absolute;
    top: .4em;
    left: 0;
}

.sectionFooterDesc>li+li {
    margin-top: .5rem;
}
.sectionFooterDesc>li {
    position: relative;
    padding-left: 2rem;
}

.sectionFooter a, .sectionFooter a:active, .sectionFooter a:active:focus, .sectionFooter a:active:hover, .sectionFooter a:focus, .sectionFooter a:hover {
    color: #777;
}

.sectionContactForm {
	position:relative;
}

.sectionContactInfo {
	margin-bottom:2rem;
	padding:0 1rem
}

.sectionContactInfoItem {
	margin-bottom:1rem;
}

.sectionContactInfoItem+.sectionContactInfoItem {
	padding-top:1rem;
	border-top:1px solid #f0f0f0;
}

.sectionContactInfoItemHeading {
	font-family:Lato,sans-serif;
	font-size:.75rem;
	font-weight:900;
	letter-spacing:.05em;
	text-transform:uppercase;
}

.sectionContactInfoItemContent {
	font-family:Playfair Display,serif;
}

.sectionContactInfoItemContent a[href*=tel] {
	color:#777;
}

.sectionContactInfoItemContent a[href*=tel]:active,
.sectionContactInfoItemContent a[href*=tel]:active:focus,
.sectionContactInfoItemContent a[href*=tel]:active:hover,
.sectionContactInfoItemContent a[href*=tel]:focus,
.sectionContactInfoItemContent a[href*=tel]:hover {
	text-decoration:none;
}

ul.sectionContactInfoItemContent {
	padding-left:0;
	list-style-type:none;
}

ul.sectionContactInfoItemContent>li {
	display:inline-block;
}

ul.sectionContactInfoItemContent>li>a {
	line-height:1.5rem;
	display:block;
	width:1.5rem;
	height:1.5rem;
	text-align:center;
	color:#fff;
	background-color:#f5a637;
}

ul.sectionContactInfoItemContent>li>a:hover {
	background-color:#f5a637;
}

ul.sectionContactInfoItemContent>li+li {
	margin-left:3px;
}

@media (min-width: 768px)
.sectionHeader {
    padding: calc(70px + 9rem) 0 9rem;
}

.sectionHeader {
    padding: calc(70px + 3rem) 0 3rem;
}

.sectionHeaderTitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.sectionGallery__grid__item {
    padding-right: .5rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}

.sectionGallery__grid__item>a {
    position: relative;
    display: block;
}

.sectionGallery__grid__item>a:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: opacity .3s;
    opacity: 0;
    background-color: rgba(0,0,0,.5);
}

.sectionGallery__grid__item>a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: url(/plus.svg);
    transition: opacity .3s;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0;
}

.sectionAboutUsDescription {
    font-size: 1.25rem;
    line-height: 1.5;
    position: relative;
    color: #151515;
}

@media (min-width: 768px)
.sectionAboutUsImg {
    padding: 0 20% 0 0;
}

.sectionAboutUsImg {
    position: relative;
    padding: 2rem 0;
}

@media (min-width: 768px)
.sectionAboutUsImg:before {
    top: 10%;
    left: 20%;
    border: 1px solid #f0f0f0;
}

@media (min-width: 768px)
.sectionAboutUsImg:after, .sectionAboutUsImg:before {
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 100%;
    content: "";
}